@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$px-font: "Space Grotesk", sans-serif !default;

// Theme Variable

$px-theme: #14b8a6;
$px-theme-rgb: 20, 184, 166;
$px-secondary: #2563eb;
$px-accent: #06b6d4;
$px-white: #fff;
$px-black: #0f172a;
$px-text: #94a3b8;
$px-heading: #fff;

// Breakpoints
$px-media-xsm: 567px !default;
$px-media-sm: 767px !default;
$px-media-md: 991px !default;
$px-media-lg: 1200px !default;
